{% load static %}
<!-- <div class="sidenav">
  <a href="#about">About</a>
  <a href="#services">Services</a>
  <a href="#clients">Clients</a>
  <a href="#contact">Contact</a>
  <button class="dropdown-btn">Dropdown 
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
  <a href="#contact">Search</a>
</div> -->



 <nav class="navigation">
  <ul class="mainmenu">
    <li><a href="">Dashboard</a></li>
    
    <li><a href="">Application </a>
      <ul class="submenu">
        <li><a href="">Tops</a></li>
        <li><a href="">Bottoms</a></li>
        <li><a href="">Footwear</a></li>
      </ul>
    </li>

    <li><a href="">Knowledge</a>
      <ul class="submenu">
        
        <li><a href="">Policy</a>
        	<ul class="childsubmenu">
        		<li><a href="">View Policy</a></li>
        	</ul>
        </li>
        <li><a href="">Publication</a>
        	<ul class="childsubmenu">
        		<li><a href="">View Publication</a></li>
        	</ul>
        </li>
        <li><a href="">GuideLines</a>
        	<ul class="childsubmenu">
        		<li><a href="">View GuideLines</a></li>
        	</ul>
        </li>
        <li><a href="">Navy Order</a>
        	<ul class="childsubmenu">
        		<li><a href="">View Navy Order</a></li>
        	</ul>
        </li>
        <li><a href="">Navy Instruction</a>
        	<ul class="childsubmenu">
        		<li><a href="">View Instruction</a></li>
        	</ul>
        </li>
        <li><a href="">Standards</a>
        	<ul class="childsubmenu">
        		<li><a href="">View Standards</a></li>
        	</ul>
        </li>
      </ul>
    </li>
    <li><a href="">Information</a></li>
  </ul>
</nav>